[submodule "submodules/Grounded-Segment-Anything"]
	path = submodules/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "submodules/GroundingDINO"]
	path = submodules/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "submodules/lama"]
	path = submodules/lama
	url = https://github.com/advimman/lama.git
[submodule "submodules/dust3r"]
	path = submodules/dust3r
	url = https://github.com/naver/dust3r.git
